@font-face {
  font-family: 'SFPro';
  src: local('SFPro'), url('../fonts/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url('../fonts/AvenirLTStd-Roman.otf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir-black';
  src: local('Avenir-black'), url('../fonts/AvenirLTStd-Black.otf') format('truetype');
  font-weight: 700;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Avenir', sans-serif;
}

:root{
  --default-box-shadow:0 0 3px rgba(0,0,0,0.1);
}

/**Utilities*/
w-1200 {
  width: 1200px !important;
}
