@font-face {
  font-family: 'SFPro';
  src: local('SFPro'), url('../fonts/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype');
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'SFPro';
}


/**Utilities*/
w-1200 {
  width: 1200px !important;
}
