
#table_lister .show-merchants-table{
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border-spacing: 0;
    box-shadow: var(--default-box-shadow);
}


#table_lister th, #table_lister td, #table_lister td button{
    font-size: .9rem;
}

#table_lister .show-merchants-table .table-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#table_lister .show-merchants-table .merchant-table-head{
    background: #F5F6FA;
    border: 3px solid white;
    color: #A3A6B4;
}
